logging-and-error-framework-test-api/src/main/mule/logging-and-error-framework-test-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="test-logging-framework-main">
        <http:listener config-ref="test-logging-framework-httpListenerConfig" path="${http.api.path}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
		<ee:transform doc:name="Set Request Details" doc:id="d48466bd-1305-4542-8517-8b853ed24eb7" >
			<ee:message >
				<ee:set-payload ><![CDATA[payload]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable resource="dwl/request-details.dwl" variableName="requestDetails" />
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="set-additional-log-subflow" doc:id="18738259-302e-4710-9fc1-85178f315621" name="set-additional-log-subflow"/>
		<flow-ref doc:name="log-request-received" doc:id="c77e631c-c4ca-4795-bcc7-5e4dc9cfd849" name="log-request-received" />
		<apikit:router config-ref="test-logging-framework-config" />
		<flow-ref doc:name="set-additional-log-subflow" doc:id="303a4310-eeaa-4c62-8360-6be92f6daf7b" name="set-additional-log-subflow"/>
		<flow-ref doc:name="log-response-returned" doc:id="bbd18fe6-b7ba-4036-97af-c97c60751ef5" name="log-response-returned" />
    </flow>
 
	<flow name="post:\process-valid-http:test-logging-framework-config">
    	<flow-ref doc:name="set-additional-log-subflow" doc:id="50bd7aa9-def7-436a-99a9-5ce852002ff2" name="set-additional-log-subflow" />
        <flow-ref doc:name="log-resource-flow-entry" doc:id="84b686b1-26fd-4d86-8e4f-dd98f19361fb" name="log-resource-flow-entry" />
        <flow-ref doc:name="log-before-outbound-request" doc:id="687458f5-3004-4214-b432-0a0743db387e" name="log-before-outbound-request"/>
		<http:request method="GET" doc:name="Valid Request" doc:id="5f027a47-f14e-474d-87a8-6bc883e86744" config-ref="HTTP_Request_configuration" path="${http.test.path}"/>
		<flow-ref doc:name="log-after-outbound-request" doc:id="d7d5c573-6576-434e-9f42-bfbfbe7859db" name="log-after-outbound-request"/>
		<flow-ref doc:name="set-additional-log-subflow" doc:id="0a6931e0-025d-4813-b6f6-10be04935c03" name="set-additional-log-subflow" />
        <flow-ref doc:name="log-resource-flow-complete" doc:id="8b6bcf31-03c8-48a8-bc8f-f2f63ac7ecf3" name="log-resource-flow-complete" />
    </flow>
    
    <flow name="post:\process-invalid-http:test-logging-framework-config">
    	<flow-ref doc:name="set-additional-log-subflow" doc:id="24d38a6d-0399-4cfa-b7ec-e13f00f28f2a" name="set-additional-log-subflow" />
        <flow-ref doc:name="log-resource-flow-entry" doc:id="c30810f6-3d2a-4a2d-a644-be63ddd0201c" name="log-resource-flow-entry" />
        <flow-ref doc:name="log-before-outbound-request" doc:id="acd0edfd-80e5-4d38-ad2f-6394ff8dd61a" name="log-before-outbound-request"/>
        <http:request method="GET" doc:name="Invalid Request" doc:id="57759fac-261f-4fd9-bef6-0c1ba3046543" config-ref="HTTP_Request_configuration" url="http://localhost:8000/test"/>
		<flow-ref doc:name="log-after-outbound-request" doc:id="bf1378bf-49ed-4433-a0cd-0f3eb6424edc" name="log-after-outbound-request"/>
		<flow-ref doc:name="set-additional-log-subflow" doc:id="d82cba73-efde-4af5-bc8b-e5019406e852" name="set-additional-log-subflow" />
        <flow-ref doc:name="log-resource-flow-complete" doc:id="15a2bd90-86d4-4e91-9720-0b1e0853789a" name="log-resource-flow-complete" />
    </flow>
    
    <sub-flow name="set-additional-log-subflow" doc:id="ab83052e-df76-42e6-bfd5-18aa05aa75b6" >
		<ee:transform doc:name="Set AdditionalLogInfo" doc:id="40537706-7ad3-432f-bbcc-1c2129daa47b" >
			<ee:message >
				<ee:set-payload ><![CDATA[payload]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable resource="dwl/additional-log-Info.dwl" variableName="additionalLogInfo" />
			</ee:variables>
		</ee:transform>
	</sub-flow>	
</mule>
