project06 | Dynamic JSON Schema Validation/dynamic-schema-validation/src/main/mule/dynamic-schema-validation.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    
    
    <http:listener-config name="dynamic-schema-validation-httpListenerConfig">
        <http:listener-connection host="${http.private.host}" port="${http.private.port}" />
    </http:listener-config>
    
    <apikit:config name="dynamic-schema-validation-config" api="dynamic-schema-validation.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    
    <configuration-properties doc:name="Configuration properties" doc:id="18cff226-2fbc-44ed-8053-420aa52d5165" file="properties/${mule.env}-properties.yaml" />
	
	<flow name="dynamic-schema-validation-main">
        <http:listener config-ref="dynamic-schema-validation-httpListenerConfig" path="${http.private.path}">
            <reconnect frequency="${http.private.reconnect.frequency}" count="${http.private.reconnect.attempts}"/>
			<http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="dynamic-schema-validation-config" />
        
    </flow>
   
    <flow name="post:\userRegister:dynamic-schema-validation-config">
        <flow-ref doc:name="validate-request-against-schema" doc:id="cd39b3c7-6cdf-444c-86f2-45ee6136853b" name="validate-request-against-schema" />
		<ee:transform doc:name="Store the information successfully" doc:id="313b0077-13ba-4bf9-b0c5-122e4616cb08" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message" : "User details stored successfully."
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="cd0865b1-e5c7-4e75-8be0-06ffc7f81b8a" type="ANY">
				<ee:transform doc:name="Prepare Error Payload" doc:id="92ce261f-6f99-4ccf-b726-ac7b725418fc" >
					<ee:message >
						<ee:set-payload resource="dwl/prepareError.dwl" />
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
    </flow>
    
	<sub-flow name="validate-request-against-schema" doc:id="6bf7496f-7b43-4c32-a1f1-d0c3f87d17aa" >
		<ee:transform doc:name="Empty country check" doc:id="6442153c-3fbb-4446-888e-eee3a06dbdfb" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable resource="dwl/countryEmptyCheck.dwl" variableName="countryEmptyCheckVar" />
			</ee:variables>
		</ee:transform>		
		<choice doc:name="countryEmptyCheckVar?" doc:id="bf6b9031-e717-4717-8f89-951e2ce44ccc">
			<when expression="#[vars.countryEmptyCheckVar == true]">
				<ee:transform doc:name="Validate country details" doc:id="67d6fbd0-15b7-4a69-a700-2d837787d426" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable resource="dwl/countryCheckVar.dwl" variableName="countryCheckVar" />
					</ee:variables>
				</ee:transform>
				<choice doc:name="countryCheckVar?" doc:id="2ab3c74f-012e-4c34-b62e-dca8c97792f7">
					<when expression="#[vars.countryCheckVar == true]">
						<ee:transform doc:name="schemaNameVar" doc:id="e0f6fde0-23f5-40bc-8de3-f4a6fc78b81f">
							<ee:message>
							</ee:message>
							<ee:variables>
								<ee:set-variable resource="dwl/schemaVar.dwl" variableName="schemaVar" />
							</ee:variables>
						</ee:transform>
						<flow-ref doc:name="validate-schema-sub-flow" doc:id="e9517f95-742a-4323-92b0-745109912420" name="validate-schema-sub-flow" />
						<logger level="INFO" doc:name="Schema Validated" doc:id="ce3a9fef-958e-42bd-9b78-01848befcd8b" message="Incoming Request validated against schema: #[vars.schemaVar] successfully"/>
						<ee:transform doc:name="setRequestPayload" doc:id="3066dee3-c3a2-4674-860c-f4087f3a823b">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
							</ee:message>
						</ee:transform>
					</when>
					<otherwise>
						<raise-error doc:name="Country not supported error" doc:id="424d202a-e2a2-4291-a0d8-f510a073c9f7" type="APP:COUNTRY_NOT_SUPPORTED" description="Provided country is not supported." />
					</otherwise>
				</choice>
			</when>
			<otherwise>
				<raise-error doc:name="Country is EMPTY error" doc:id="86f137ad-543b-4697-8a08-7ad24da8a811" type="APP:EMPTY_COUNTRY" description="Input payload does't have country value." />
			</otherwise>
		</choice>
	</sub-flow>
	<sub-flow name="validate-schema-sub-flow" doc:id="13489862-2287-49e2-a183-b40b90b33ec3">
		<json:validate-schema doc:name="Validate schema" doc:id="8902675b-d253-475d-ab6b-f8bdb54a9939" schema="#[vars.schemaVar]"/>
	</sub-flow> 
</mule>
