project07 | retry-process-with-mq/retry-process-with-mq/src/main/mule/process-message.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	
	<configuration-properties doc:name="Configuration properties" doc:id="65ed2052-f8d6-4c23-8722-7cb94ad69d7b" file="properties/${mule.env}-properties.yaml" />
	
	<anypoint-mq:config name="Anypoint_MQ_Config" doc:name="Anypoint MQ Config" doc:id="b95e58cc-1628-4aec-87d3-1b425f83b3c4" >
		<anypoint-mq:connection clientId="#[p('anypoint_mq.client_id')]" clientSecret="#[p('anypoint_mq.client_secret')]" />
	</anypoint-mq:config>
	
	<http:request-config name="LOCAL_HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="99d523c0-b946-4f36-8dd6-072e16dd2f36" basePath="${api.base_path}">
		<http:request-connection host="${api.host}" port="${api.port}" connectionIdleTimeout="${api.connection_idle_timeout}" />
	</http:request-config>
	
	<flow name="user-registration-flow" doc:id="e15488e1-546c-4725-8d7a-6b20dde4e195" >
		<anypoint-mq:subscriber doc:name="Subscribe msgs from user registration queue" doc:id="2861bf24-a1c3-48fb-a5d6-382c395073d1" config-ref="Anypoint_MQ_Config" destination="${anypoint_mq.user_registration.queue}" acknowledgementMode="MANUAL"/>
		<set-variable value="#[payload]" doc:name="Store payload into a variable" doc:id="c10a4f1e-99c0-4ae5-b659-1267fa66b90b" variableName="inputPayload"/>
		<ee:transform doc:name="Set Queue Properties" doc:id="0f07c24f-f77c-4e7b-abf0-07ec2f7579e7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.originalPayload default vars.inputPayload]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="reprocessCount" ><![CDATA[%dw 2.0
output application/java
---
payload.reprocessData.reprocessCount default 1]]></ee:set-variable>
				<ee:set-variable variableName="ackToken" ><![CDATA[%dw 2.0
output application/java
---
attributes.ackToken]]></ee:set-variable>
				<ee:set-variable variableName="mqQueueName" ><![CDATA[%dw 2.0
output application/java
---
attributes.destination]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<until-successful maxRetries="${api.retry.number_of_retry}" doc:name="Retry to connect" doc:id="2c18d1d4-19ba-433c-b3b9-5edf839af0df" millisBetweenRetries="${api.retry.milliseconds_between_retry}">
			<http:request method="POST" doc:name="API Request" doc:id="15e29392-88bb-41c0-920a-93c18e01b8f7" config-ref="LOCAL_HTTP_Request_configuration" path="${api.path}" responseTimeout="${api.response_timeout}" target="backendResponse"/>
		</until-successful>
		<anypoint-mq:ack doc:name="Send Acknowledgement" doc:id="7a39012d-2fd0-4469-add8-c43b4d72c103" config-ref="Anypoint_MQ_Config" ackToken="#[vars.ackToken]"/>
		<flow-ref doc:name="remove-variables-subflow" doc:id="2f32c092-c2aa-4977-bd22-17444e06eece" name="remove-variables-subflow" />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="aa942b40-a0d2-4c3a-8e9d-66fbb086f0b7" type="ANY">
				<flow-ref doc:name="user-registration-reprocess-subflow" doc:id="77fe2bb1-b952-49f7-a5f4-ba3d1841e280" name="user-registration-reprocess-subflow"/>
				<anypoint-mq:ack doc:name="Send Acknowledgement" doc:id="05fdb06d-531d-4d38-a188-fdab2bfdcc2c" config-ref="Anypoint_MQ_Config" ackToken="#[vars.ackToken]"/>
				<flow-ref doc:name="remove-variables-subflow" doc:id="cca5849d-80ad-477f-b12c-491292065098" name="remove-variables-subflow" />
			</on-error-continue>
		</error-handler>
	</flow>
	
	<sub-flow name="user-registration-reprocess-subflow" doc:id="08a24414-3206-41fb-848d-a27ac1386a26" >
		<choice doc:name="Check Reprocess Count" doc:id="0eaaf1d9-92dc-4f61-b67f-ebfe72c9142d" >
			<when expression="#[(vars.reprocessCount &lt; (Mule::p('anypoint_mq.deadLetter.maxUserRegistrationReprocessAttempts') as Number))]">
				<async doc:name="Async" doc:id="e2a0f869-d0f0-4f15-93e9-4cc4a4cf77a8" >
					<ee:transform doc:name="Prepare Reprocessing Message" doc:id="41583845-ff50-4620-ac7d-55e5af594413" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	reprocessData: { 
		reprocessCount: (vars.reprocessCount as Number) + 1
	},
	originalPayload: vars.inputPayload
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<anypoint-mq:publish doc:name="Publish Messages to DLQ" doc:id="eccb2645-3f8f-47ba-8145-f57ba3111c12" config-ref="Anypoint_MQ_Config" destination="#[Mule::p('anypoint_mq.deadLetter.queue')]">
			<anypoint-mq:properties ><![CDATA[#[%dw 2.0
output application/java
---
{
	qname : vars.mqQueueName,
	reprocessCounter : 1
}]]]></anypoint-mq:properties>
		</anypoint-mq:publish>
					<logger level="INFO" doc:name="Message Publication Log" doc:id="d045a42e-3ba2-4688-9588-c007382f6422" message="Message has been sent to dead letter queue '#[Mule::p('anypoint_mq.deadLetter.queue')]' for reprocessing, attempt #[vars.reprocessCount] of #[Mule::p('anypoint_mq.deadLetter.maxUserRegistrationReprocessAttempts')]. #[payload]" />
				</async>
			</when>
			<otherwise >
				<async doc:name="Async" doc:id="b89e8c3d-d4d9-43d1-90e1-fc2f9eada91e" >
					<ee:transform doc:name="Prepare Reprocessing Message" doc:id="dfc1bf39-204f-4b4b-8cb4-cd93c1413e4e" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	reprocessData: {
		reprocessCount: vars.reprocessCount as Number + 1
	},
	originalPayload: vars.inputPayload
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<anypoint-mq:publish doc:name="Publish Messages to Parking Queue" doc:id="60dee0fe-dce8-4151-a866-91b1f7a83513" config-ref="Anypoint_MQ_Config" destination="#[Mule::p('anypoint_mq.parking.queue')]">
			<anypoint-mq:properties ><![CDATA[#[%dw 2.0
output application/java
---
{
	qname : vars.mqQueueName,
	reprocessCounter : 1
}]]]></anypoint-mq:properties>
		</anypoint-mq:publish>
					<logger level="INFO" doc:name="Reprocess Attempts Exhausted Log" doc:id="95843089-1b17-4474-9b9a-c894b8805ffd" message="Reprocess attempts exhausted, message stored in parking queue: '${anypoint_mq.parking.queue}', based on requirement it can re-process later from parking to original queue. Parked message details : #[payload]" />
				</async>
			</otherwise>
		</choice>
	</sub-flow>
	
	
	
	<sub-flow name="remove-variables-subflow" doc:id="019e16fa-d702-441a-a5e7-55712603e4b0" >
		<remove-variable doc:name="Remove Variable 'ackToken'" doc:id="0af1a508-9b4b-4946-b673-8ced7116f2e8" variableName="ackToken" />
		<remove-variable doc:name="Remove Variable 'mqQueueName'" doc:id="1e655605-8f53-42a9-9a06-b33ae1733644" variableName="mqQueueName"/>
		<remove-variable doc:name="Remove Variable 'reprocessCount'" doc:id="549f321c-7864-4ff2-9b77-496bb28e990e" variableName="reprocessCount"/>
		<remove-variable doc:name="Remove Variable 'mqQueueDetails'" doc:id="1a9760a3-24f5-4f57-a026-a1660236beb7" variableName="mqQueueDetails"/>
	</sub-flow>
	
</mule>