project07 | retry-process-with-mq/retry-process-with-mq/src/main/mule/re-process-message.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	
	<flow name="reprocess-dlq-to-original-queue-flow" doc:id="4c7fe2ef-dd23-4886-9e5b-b644a2bea41e" >
		<anypoint-mq:subscriber doc:name="Subscribe msgs from deadLetter queue" doc:id="381ec8d8-2a2a-4bcc-92fd-59511166b41b" config-ref="Anypoint_MQ_Config" destination="${anypoint_mq.deadLetter.queue}" acknowledgementMode="MANUAL"/>
		<ee:transform doc:name="Set Reprocess Queue Properties" doc:id="e0b1860a-249d-4da9-9cf4-1c5458e99b6b" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="ackToken" ><![CDATA[%dw 2.0
output application/java
---
attributes.ackToken]]></ee:set-variable>
				<ee:set-variable variableName="qname" ><![CDATA[%dw 2.0
output application/java
---
attributes.properties.qname]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<anypoint-mq:publish doc:name="Publish Messages to user registration queue" doc:id="fcc462c0-ddc9-42f6-9cbf-6be3fd4efe9d" config-ref="Anypoint_MQ_Config" destination="#[vars.qname]"/>
		<logger level="INFO" doc:name="Message Publication Log" doc:id="39ae4bf3-09b0-45f6-bdd9-61928b7a9e55" message="Message has been sent from dead letter queue '#[Mule::p('anypoint_mq.deadLetter.queue')]' to the original queue '#[vars.qname]'. #[payload]" />
		<anypoint-mq:ack doc:name="Send Acknowledgement" doc:id="c283d6ed-b642-4214-be11-79378603279d" config-ref="Anypoint_MQ_Config" ackToken="#[vars.ackToken]"/>
	</flow>
	
</mule>