project05 | Circuit Breaker with Anypoint MQ/circuit-breaker/src/main/mule/circuit-breaker.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq"
	xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	
	<configuration-properties doc:name="Configuration properties" doc:id="7a20f706-1883-41fc-9727-a2f357a02bc6" file="properties/${mule.env}-properties.yaml" />
	
	<anypoint-mq:config name="Anypoint_MQ_Config" doc:name="Anypoint MQ Config" doc:id="dcee94a5-274c-492f-b344-1a2a0bdff335" >
		<anypoint-mq:connection clientId="#[p('anypoint.MQ.client_id')]" clientSecret="#[p('anypoint.MQ.client_secret')]" />
	</anypoint-mq:config>
	
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="1c4bac30-c1bc-4c48-ba40-f9b0b75dd9d0" basePath="/api" >
		<http:request-connection host="localhost" port="8081" />
	</http:request-config>
	<flow name="circuit-breaker-test-flow" doc:id="3d0d34ea-4a41-4ed4-a49f-96c86eb661bd" >
		 <anypoint-mq:subscriber doc:name="Subscribe Msgs from Queue" doc:id="134b0b50-4d18-4c6c-b499-16001c44c491" config-ref="Anypoint_MQ_Config" destination="${anypoint.MQ.circuit_breaker_queue}" acknowledgementMode="MANUAL">
			<anypoint-mq:circuit-breaker tripTimeout="${circuit_breaker.trip_timeout}" onErrorTypes="${circuit_breaker.error_types}" errorsThreshold="${circuit_breaker.error_threshold}" tripTimeoutUnit="MINUTES"/>
		</anypoint-mq:subscriber>
		<logger level="INFO" doc:name="Read Queue Message" doc:id="7fcd08b1-e27b-4ec3-bda5-b917c513470e" message="===============  Input Payload from Queue : #[payload] === correlationId : #[correlationId]"/>
		<flow-ref doc:name="set-acknowledgement-token-subflow" doc:id="147e4fa3-2eeb-4020-b684-6302b1ad817e" name="set-acknowledgement-token-subflow" />
		<http:request method="GET" doc:name="Request" doc:id="9af99c61-d2ff-4ead-aac3-1d85df8fe585" config-ref="HTTP_Request_configuration" path="/getEmployees"/>
		<flow-ref doc:name="send-acknowledgement-token-subflow" doc:id="345246fe-7d16-46c3-8bad-1f8b6ad81da7" name="send-acknowledgement-token-subflow" />
		<flow-ref doc:name="remove-variables-subflow" doc:id="c83adb13-dd92-4e21-8cc1-526d89315107" name="remove-variables-subflow" />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="1815f743-9e31-4ce7-974e-86cedde4e9fe" type="ANY">
				<!-- <flow-ref doc:name="do-not-send-acknowledgement-token-subflow" doc:id="666c41c7-8bbb-449b-8898-2adef69ad434" name="do-not-send-acknowledgement-token-subflow" /> -->
				<flow-ref doc:name="remove-variables-subflow" doc:id="a3e49420-85d9-4bec-9076-c31b365bad51" name="remove-variables-subflow" />
			</on-error-continue>
		</error-handler>
	</flow>
	
	<sub-flow name="set-acknowledgement-token-subflow" doc:id="de6e2aff-edc2-4225-9133-5d684e991db4" >
		<set-variable value="#[attributes.ackToken]" doc:name="Set Acknowledgement Token" doc:id="86e375d9-1ed9-47e1-a2e4-5c7dc45cc107" variableName="ackToken"/>
	</sub-flow>
	
	<sub-flow name="send-acknowledgement-token-subflow" doc:id="4c979475-bbf6-4393-b042-0547f7fcdfe2" >
		<logger level="INFO" doc:name="Sending Acknowledgement" doc:id="71dee82d-d818-47ae-9bb5-85e999306517" message="=============== Sending Acknowledgement  === correlationId : #[correlationId]"/>
		<anypoint-mq:ack doc:name="Send Acknowledgement" doc:id="2057ed55-773f-40bd-b60b-5abac743762c" config-ref="Anypoint_MQ_Config" ackToken="#[vars.ackToken]"/>
	</sub-flow>
	
	<sub-flow name="do-not-send-acknowledgement-token-subflow" doc:id="7d97fb3e-0c83-4d51-9fde-fbe3156161bd" >
		<logger level="INFO" doc:name="Not Sending Acknowledgement" doc:id="743edfc2-37e1-4959-9af1-5b05880a1a0e" message="=============== Not Sending Acknowledgement  === correlationId : #[correlationId]"/>
		<anypoint-mq:nack doc:name="Send Nack Acknowledgement" doc:id="2c3345e3-a82e-419b-8538-79d1a9a5a783" config-ref="Anypoint_MQ_Config" ackToken="#[vars.ackToken]"/>
	</sub-flow>
	
	<sub-flow name="remove-variables-subflow" doc:id="a66095b2-1254-4498-bd87-fe95f6d4e218" >
		<remove-variable doc:name="Remove Variable 'ackToken'" doc:id="a5e6a741-cfc1-4d0b-a6f8-0ab0fb916fdc" variableName="ackToken" />
	</sub-flow>
</mule>